# 1. Comments in Python

In [ ]:
# This is an example of a Python comment.
# Comments are ignored by the Python interpreter and do not have output

# Solve really complex mathematical expression using Python
2 + 2

# 2. Basic Data Types

In [ ]:
# Integers: Whole numbers with no fractional output. Examples include:
5
10
-23
0

In [ ]:
# Floating Point Numbers: Numbers that contain a fractional output. Examples include:
3.14
9.99
-113.24129

In [ ]:
# Strings: A collection of characters that are represented within quotation marks. Examples include:
"Emmanuel"
"Sacramento"

In [ ]:
# String can contain more than alphanumeric characters. Anything wrapped in double quotes is considered a string.
"$139.99 dollars!"

In [ ]:
# Strings can also have no characters. This is known as an empty string.
""

In [ ]:
# Booleans: A data type that can only be either true or false.
True

In [ ]:
# Booleans can be derived from expressions of truth. For example
5 < 7

In [ ]:
10 > 12

In [ ]:
# None: Special data type used to represent nothingness or absence of a value
None

# 3. Operators

In [ ]:
5 + 3

In [ ]:
3.14 + 7.96

In [ ]:
# The plus sign can also concatenate strings:
"race" + "car"

In [ ]:
10 - 5

In [ ]:
5 * 3

In [ ]:
# You can print a string multiple times by using the multiplication operator:
"mahi" * 10

In [ ]:
# Don't forget your order of operations!
3 + 4 * 5
(3 + 5) * 5

In [ ]:
# Division is done with the / operator
15 / 4

In [ ]:
# We can do 'floor division' which truncates the floating part number with //:
10 // 3

In [ ]:
# We can use the modulo operator to grab the remainder of a division operation:
14 % 3

In [ ]:
# The equality operator can be used to determine whether things are equal and spits out a boolean
1 == 1

In [ ]:
# The equality operator can also be used with strings.
"Hello" == "Hello"

In [ ]:
# You can also use it to compare Boolean values
True == True

In [ ]:
# Similar to the equality operator, we also have an inequality operator
5 != 10

In [ ]:
# We have less than or equal to and greater than or equal to comparisons also
5 < 3

In [ ]:
5 > 3

In [ ]:
5 <= 3

In [ ]:
5 >= 3

# 4. Variables

In [ ]:
# Variables are used to give context to values
age = 29

In [ ]:
age

In [ ]:
# 29 + 5
age + 5

In [ ]:
# snake_case declarations
price = 19.99
first_name = "Emmanuel"
profession = "Software Engineer"
is_handsome = True

In [ ]:
first_name

In [ ]:
is_handsome

In [ ]:
first_name + " is awesome"

In [ ]:
# The right side of the equal sign gets evaluated first
age = age + 5

In [ ]:
profession = "Python Developer"

In [ ]:
profession

In [ ]:
age

# 5. Built-In Functions

In [ ]:
# Built-in functions are provided by Python and can perform
# various operations on variables and values!

# len() will provide the length of the argument provided to it

len("How many characters do we have here?")

In [ ]:
# str() can be used to convert arguments to a string format.

str(3.14)

In [ ]:
# int() can be used to convert arguments to an integer
int("10")

In [ ]:
# float() can be used to convert arguments to floating point types
float("9.384")

In [ ]:
# type() accepts any object and tells you the type that it is
type(5)

In [ ]:
type(3.14)

In [ ]:
type("PlayStation")

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
# type() can be used in equality comparisons
type(10) == type(15)

In [ ]:
type(10) == type("10")

# 6. Custom Functions

In [ ]:
# Declare a function that accepts a temperature and returns it in Fahrenheit

def convert_to_fahrenheit(celsius_temp):
    product = celsius_temp * 1.8
    return product + 32

In [ ]:
len("Hello")

In [ ]:
convert_to_fahrenheit(0)

In [ ]:
convert_to_fahrenheit(14)

In [ ]:
# Different ways to call functions
convert_to_fahrenheit(celsius_temp = 24)

In [ ]:
convert_to_fahrenheit(100)

In [ ]:
def convert_to_fahrenheit(celsius_temp = 0):
    product = celsius_temp * 1.8
    return product + 32

In [ ]:
convert_to_fahrenheit(200)

In [ ]:
convert_to_fahrenheit()

# 7. String Methods

In [ ]:
# Methods are built into Python and are part of the string object!
profession = "Developer"

In [ ]:
# Method that converts string to all uppercase.
profession.upper()

In [ ]:
"Developer".upper()

In [ ]:
# Method that converts string to all lowercase.
profession.lower()

In [ ]:
# Method that switches the case of all letters in the string.
profession.swapcase()

In [ ]:
# Immutable - incapable of change, Mutable - capable of change
# Strings are immutable. They do not change when methods are used on them
profession

In [ ]:
# The title() method capitalizes the first letter of each word in a string.
"once upon a time".title()

In [ ]:
# The capitalize method capitalizes the first character of the string.
"once upon a time".capitalize()

In [ ]:
# The lstrip() method strips whitespace from the left side of the string
profession = "      Developer      "
profession.lstrip()

In [ ]:
# The rstrip() method strips whitespace from the right side of the string.
profession.rstrip()

In [ ]:
# The strip() method stripes whitespace from both sides of the string
profession.strip()

In [ ]:
# The replace() method finds an occurence and replaces it with something else
profession.replace("e", "*")

In [ ]:
# Methods can also be combined.
profession.strip().replace("e", "*")

In [ ]:
# The startswith() method returns a Boolean if the string starts with the argument
# This is case sensitive.
animal = "rhinoceros"
animal.startswith("rhino")

In [ ]:
animal.startswith("sdad")

In [ ]:
animal.startswith("r")

In [ ]:
animal.startswith("R")

In [ ]:
# The endswith() methods returns a boolean if the string ends with the argument.
animal.endswith("ros")

In [ ]:
animal.endswith("zzz")

In [ ]:
# The in object checks whether the object on the left belongs to the object on the right.
"ino" in animal

In [ ]:
"z" not in animal

In [ ]:
"rhino" not in animal

# 8. Lists

In [ ]:
# Lists are mutable data structures that hold an ordered collection of elements
[1, 2, 3, 4]

In [ ]:
[True, False, False, True]

In [ ]:
party_attendees = ["Michael", "Freddy", "Jason"]
party_attendees

In [ ]:
# We can also have an empty list just like we can have an empty string.
[]

In [ ]:
# Lists can also be passed into the length function.
len(party_attendees)

In [ ]:
# Lists can be apssed into the type function
type(party_attendees)

In [ ]:
# The append() method adds an element to the end of a list
presidents = ["Washington", "Jefferson"]
presidents.append("Madison")
presidents

In [ ]:
# the pop() method removes the element at the end of the array.
popcorn = ["Salted", "Unsalted", "Caramel"]
popcorn

In [ ]:
popcorn.pop()

In [ ]:
popcorn

In [ ]:
# The remove() method removes the first occurrence of an element at a specific index.
popcorn.remove("Salted")
popcorn

In [ ]:
# Lists can also use the in and not in keywords.
planets = ["Mercury", "Venus", "Earth", "Mars"]
"Earth" in planets

In [ ]:
"Jupiter" in planets

# 9. Index Positions and Slicing

In [ ]:
# Every character in a string has a certain index position.
spiderman = "Spiderman"

# 0 1 2 3 4 5 6 7 8
# S p i d e r m a n

In [ ]:
# Referencing the index can be done with brackets and the integer position.
spiderman[0]

In [ ]:
# Referencing the last character from the string can be done with -1 as the index position.
# You can also move backwards this way.
spiderman[-1]

In [ ]:
superheroes = ["Batman", "Superman", "Wolverine", "Ironman", "Arnold Schwarzenegger"]
len(superheroes)

In [ ]:
# Index positions can be used to pluck certain elements of a list.
superheroes[0]

In [ ]:
superheroes[-1]

In [ ]:
# To pull out more than one element, we use the following syntax. 
superheroes[1:3]

In [ ]:
superheroes[2:4]

In [ ]:
# You can leave out the 0 if it is before the colon. The following is equivalent
superheroes[0:2]
superheroes[:2]

In [ ]:
# To pull out numbers from the first index to the end, you can leave off the last number like this:
superheroes[2:]

# 10. Dictionaries

In [ ]:
# Dictionaries are unordered collections of key-value pairs.
# Keys cannot be duplicated but values can be duplicated.
menu = {
    "Filet Mignon": 29.99,
    "Big Mac": 3.99,
    "Pizza": 0.99,
    "Salmon": 29.99
}

menu

In [ ]:
# The length of a dictionary is equal to the number of key-value pairs.
len(menu)

In [ ]:
# You can index into a dictionary based on the value of a key.
menu["Big Mac"]

In [ ]:
# To add a key-value pair to a dictionary, use the following syntax:
menu["Burrito"] = 13.99
menu

In [ ]:
# You can update a key-value pair just like you would declare a new one.
menu["Big Mac"] = 5.99
menu

In [ ]:
# To remove a key-value pair, you can use the pop method like you could with a list.
menu.pop("Filet Mignon")

In [ ]:
menu

In [ ]:
# You can check whether a key is in a menu using in or not in keywords.
"Pizza" in menu

In [ ]:
"Hot Pockets" in menu

In [ ]:
"Bubblegum" not in menu

In [ ]:
# To check amongst the values, you must use the values() method.
menu.values()

In [ ]:
5.99 in menu.values()