# Shared Methods and Attributes between Series and DataFrames

In [ ]:
# A pandas Series is a one dimensional data structure. A single column of data.
# A dataframe is a two dimensional data structure, like a regular table.
import pandas as pd
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")

In [ ]:
# The .head() method shows the first 5 rows just like in a pandas Series.
nba.head()

In [ ]:
# The .tail() method shows the last 5 rows just like in a pandas Series.
nba.tail()

In [ ]:
nba.index

In [ ]:
# Shows the numpy object that makes up the DataFrame.
nba.values

In [ ]:
# Gives the tuple containing the dimensions of the DataFrame.
nba.shape

In [ ]:
# Returns the object type of each column in the DataFrame.
nba.dtypes

In [ ]:
nba.dtypes.value_counts()

In [ ]:
# DataFrame exclusive attriibute .columns will return a list of column names.
nba.columns

In [ ]:
# DataFrame exclusive attribute .axes will return both sets of indices.
nba.axes

In [ ]:
# DataFrame exclusive method .info() will show a big picture summary of DataFrame.
nba.info()

## Difference between Shared Methods

In [ ]:
rev = (
    pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\revenue.csv", 
    index_col = "Date")
)

rev.head(3)

In [ ]:
# Calling .sum() on a DataFrame returns a series with the sums of each column.
rev.sum()

In [ ]:
# The .sum() method on a DataFrame also has an axis parameter that enables summing horizontally.
rev.sum(axis = "columns")

## Select One Column from a DataFrame

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
# You can extract a column simply by calling the column name as an attribute.
# Note: Does not work when column names are more than a single word.
nba.Name

In [ ]:
# You can access one or more columns in one line this way.
nba["Name"]

In [ ]:
# A single column extracted from a DataFrame becomes a pandas Series.
type(nba["Name"])

In [ ]:
nba["Name"].head(3)

## Select Two or More Columns from a DataFrame

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
nba[["Name", "Team"]].head(3)

In [ ]:
# You can control the order based on how the list argument is input.
nba[["Team", "Name"]].head(3)

In [ ]:
nba[["Salary", "Team", "Name"]].tail()

In [ ]:
# A cleaner way to do the above:
select = ["Salary", "Team", "Name"]
nba[select].tail()

## Add New Column to DataFrame

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
# You can add a column to a pandas DataFrame by assigning the DataFrame with the column name
# and setting it equal to values. Be careful not to overwrite!
nba["Sport"] = "Basketball"
nba.head(3)

In [ ]:
nba["League"] = "National Basketball Association"
nba.head(3)

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
# Another way to do this is to use the .insert() method, you can
# choose the index to insert the new column.
nba.insert(3, column = "Sport", value = "Basketball")
nba.head(3)

In [ ]:
nba.insert(7, column = "League", value = "National Basketball Association")
nba.head(3)

## Broadcasting Operations

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
# Adding 5 to the age of every player in the DataFrame.
nba["Age"].add(5) # Can also do nba["Age"] + 5

In [ ]:
# Subtraction 5 million from the salary of every player in the DataFrame.
nba["Salary"].sub(5000000) # Can also do nba["Salary"] = 5000000

In [ ]:
# Multipliying each weight by 0.45 to convert from pounds to kilograms.
nba["Weight"].mul(0.453592) # Can also do nba["Weight"].mul(0.453592)

In [ ]:
nba["Weight in Kilograms"] = nba["Weight"] * 0.453592
nba.head(3)

In [ ]:
# Dividing each NBA player's salary by 1000000
nba["Salary"].div(1000000) # Can also do nba["Salary"] / 1000000
nba["Salary in Millions"] = nba["Salary"].div(1000000)
nba.head(3)

# A Review of the .value_counts() Method

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
nba["Position"].value_counts()

# Drop Rows with Null Values

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
nba.tail(3)

In [ ]:
# The .dropna() method will drop any rows that contain NaN rows.
nba.dropna(how = "all", inplace = True) # Using "all" will only remove rows where all values are NaN
nba.tail(3)

In [ ]:
# To remove columns with NaN, use .dropna() with axis set to 1.
nba.dropna(axis = 1)

In [ ]:
# Dropping rows that contain a NaN value in the Salary column only.
nba.dropna(subset = ["Salary"])

# Fill in Null Values with the .fillna() Method

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
# Be careful using this as type errors can occur
nba.fillna(0)

In [ ]:
# To avoid the above problem, call .fillna() on the Series within the DataFrame.
nba["Salary"].fillna(0, inplace = True)
nba.head()

In [ ]:
nba["College"].fillna("No College", inplace = True)
nba.head()

# The .astype() Method

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.tail(3)

In [ ]:
nba["Salary"].fillna(0, inplace = True)
nba["College"].fillna("None", inplace = True)
nba.head(6)

In [ ]:
nba.dtypes

In [ ]:
nba.info()

In [ ]:
# The .astype() method is used to convert from one type to another.
nba["Salary"] = nba["Salary"].astype("int")

In [ ]:
nba["Salary"].head()

In [ ]:
nba["Position"].nunique()

In [ ]:
nba["Position"].astype("category")

In [ ]:
nba["Team"].nunique()

In [ ]:
nba["Team"] = nba["Team"].astype("category")
nba.head()

# Sort a DataFrame with the .sort_values Method, Part I

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
nba.sort_values("Name")

# Sort a DataFrame with the .sort_values() Method, Part II

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
nba.sort_values(["Team", "Name"])

In [ ]:
nba.sort_values(["Team", "Name"], ascending = [True, False])

# Sort DataFrame with the .sort_index() Method

In [ ]:
nba = pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
nba.head(3)

In [ ]:
nba.sort_values(["Number", "Salary", "Name"], inplace = True)
nba.tail(3)

In [ ]:
nba.sort_index(ascending = False, inplace = True)
nba.head(3)

# Rank Values with the .rank() Method

In [ ]:
# Getting rid of all NaN values in the salary column.
nba = (
    pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\nba.csv")
    .dropna(how = "all")
)

nba["Salary"] = nba["Salary"].fillna(0).astype("int")
nba.head(3)

In [ ]:
# By default, smaller salaries are reversed with higher ranks.
nba["Salary Rank"] = nba["Salary"].rank(ascending = False).astype("int")
nba.head(3)

In [ ]:
nba.sort_values(by = "Salary", ascending = False)