# Importing Pandas and DateTime

In [ ]:
import pandas as pd
import datetime as dt

# Review of Python's <code>DateTime</code> Module

In [ ]:
# Datetimes are entered by year, month, and day. Each section can be accessed as well.
someday = dt.date(2022, 4, 12)
someday.year
someday.month
someday.day

In [ ]:
# Datetimes can also go down to seconds. This represents 04/12/2022 8:13:57 AM
sometime = dt.datetime(2022, 4, 12, 8, 13, 57)
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

In [ ]:
# To view in a more traditional format, use the string library.
str(someday)
str(sometime)

# The Pandas <code>Timestamp</code> Object

In [ ]:
# The Timestamp methods can support all of the below syntaxes.
pd.Timestamp("2022-05-11")
pd.Timestamp("2022/05/11")
pd.Timestamp("2022, 05, 11")
pd.Timestamp("5/11/2022")
pd.Timestamp("2022-05-11 10:52:00")
pd.Timestamp("2022-05-11 10:52:00 PM")

In [ ]:
pd.Timestamp(dt.date(2022, 5, 11))

In [ ]:
pd.Timestamp(dt.datetime(2022, 5, 11, 10, 52, 22))

# The Pandas <code>DateTimeIndex</code> Object

In [ ]:
dates = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(dates)

In [ ]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dt_index = pd.DatetimeIndex(dates)
dt_index

In [ ]:
values = [100, 200, 300]
pd.Series(data = values, index = dt_index)

# The <code>pd.to_datetime()</code> Method

In [ ]:
# The pd.to_datetime() method accepts strings, date objects, lists and datetime objects.
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

In [ ]:
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

In [ ]:
# The pd.to_datetime() objects can also accept Series.
pd.to_datetime(times)

In [ ]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

In [ ]:
# Will throw an error based on the formatting of the string list we entered above.
pd.to_datetime(dates)

In [ ]:
# To get around this error, use the errors parameter and pass in "coerce" as the argument.
pd.to_datetime(dates, errors = "coerce")

In [ ]:
# The pd.to_datetime() method can also support Unix Time as well.
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

# Create Range of Dates with the <code>pd.date_range()</code> Method, Part 1

In [ ]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")
type(times)

In [ ]:
type(times[0])

In [ ]:
# Create a Date Range with increments of two days.
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "2D")

In [ ]:
# Create a Date Range using increments of business days.
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "B")

In [ ]:
# Create a Date Range using increments of weeks. "W" is Sunday Weeks and counts Sundays.
# This is why the range starts at 2016-01-03
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "W")

In [ ]:
# Starts the Week count on friday.
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "W-FRI")

In [ ]:
# Creates a Date Range using increments of hours.
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "H")
pd.date_range(start = "2016-01-01", end = "2016-01-15", freq = "6H")

In [ ]:
# Creates a Date Range using increments of months.
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq = "M")
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq = "MS")

In [ ]:
# Creates a Date Range using increments of years.
pd.date_range(start = "2016-01-01", end = "2050-12-31", freq = "A")

# Create Range of Dates with the <code>pd.date_range()</code> Method, Part 2

In [ ]:
# We can control the number of timestamps to generate by using the periods parameter.
pd.date_range(start = "2012-09-09", periods = 25, freq = "D")
pd.date_range(start = "2012-09-09", periods = 50, freq = "D")
pd.date_range(start = "2012-09-09", periods = 50, freq = "B")
pd.date_range(start = "2012-09-09", periods = 50, freq = "W")
pd.date_range(start = "2012-09-09", periods = 50, freq = "W-TUE")
pd.date_range(start = "2012-09-09", periods = 50, freq = "MS")
pd.date_range(start = "2012-09-09", periods = 50, freq = "A")
pd.date_range(start = "2012-09-09", periods = 50, freq = "H")
pd.date_range(start = "2012-09-09", periods = 50, freq = "6H")

# Create Range of Dates with the <code>pd.date_range()</code> Method, Part 3

In [ ]:
# Starting with the end parameter, we can generate a list of timestamps backwards.
pd.date_range(end = "1999-12-31", periods = 20, freq = "D")
pd.date_range(end = "1999-12-31", periods = 20, freq = "B")
pd.date_range(end = "1999-12-31", periods = 20, freq = "W")
pd.date_range(end = "1999-12-31", periods = 20, freq = "W-FRI")
pd.date_range(end = "1999-12-31", periods = 20, freq = "M")
pd.date_range(end = "1999-12-31", periods = 20, freq = "MS")
pd.date_range(end = "1999-12-31", periods = 20, freq = "A")
pd.date_range(end = "1999-12-31", periods = 20, freq = "H")
pd.date_range(end = "1999-12-31", periods = 20, freq = "6H")

# The <code>.dt</code> Accessor

In [ ]:
# The .dt accessor is very similary to the .str method when using strings with Series.
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")
bunch_of_dates

In [ ]:
s = pd.Series(bunch_of_dates)
s.head(3)

In [ ]:
# To access parts of a series, don't forget the .dt accessor.
s.dt.day
s.dt.month
s.dt.year

In [ ]:
mask = s.dt.is_quarter_start
s[mask]

In [ ]:
mask = s.dt.is_month_end
s[mask]

# Import Financial Dataset with <code>pandas_datareader</code> Library

In [ ]:
import pandas as pd
import datetime as dt

from pandas_datareader import data

In [ ]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

In [ ]:
stocks.values
stocks.columns
stocks.index
stocks.axes

# Selecting Rows from a DataFrame with a <code>DataFrameIndex</code>

In [ ]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

In [ ]:
stocks.loc["2010-01-04"]
stocks.loc[pd.Timestamp("2010-01-04")] # Best practice to wrap the string inside of a Pandas Timestamp

In [ ]:
stocks.iloc[0]
stocks.iloc[500]
stocks.iloc[-1]

In [ ]:
stocks.loc[[pd.Timestamp("2010-01-04"), pd.Timestamp("2010-01-05")]]

In [ ]:
# Identical.
stocks.loc["2013-10-01" : "2013-10-07"]
stocks.truncate(before = "2013-01-01", after = "2013-10-07")

stocks.iloc[1000 : 1005]

In [ ]:
birthdays = pd.date_range(start = "1991-04-12", end = "2020-12-31", freq = pd.DateOffset(years = 1))
birthday_stocks = stocks.index.isin(birthdays)
stocks[birthday_stocks]
stocks.loc[birthday_stocks]

# <code>Timestamp</code> Object Attributes and Methods

In [ ]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

In [ ]:
someday = stocks.index[500]
someday

In [ ]:
someday.month
someday.week
someday.day
someday.is_month_start
someday.is_month_end
someday.is_quarter_start
someday.is_quarter_end

In [ ]:
someday.month_name()
someday.day_name()

In [ ]:
stocks.index.day_name()

In [ ]:
stocks.insert(0, "Day of Week", stocks.index.day_name())
stocks

In [ ]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)
stocks

In [ ]:
stocks[stocks["Is Start of Month"]]

# The <code>pd.DateOffset</code> Object

In [ ]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

In [ ]:
stocks["High"] + 5

In [ ]:
stocks.index + pd.DateOffset(days = 5)
stocks.index = stocks.index + pd.DateOffset(days = 5)
stocks.index

In [ ]:
stocks.index + pd.DateOffset(weeks = 2)
stocks.index - pd.DateOffset(weeks = 3)

stocks.index + pd.DateOffset(months = 3)
stocks.index - pd.DateOffset(months = 5)

stocks.index + pd.DateOffset(years = 1)
stocks.index - pd.DateOffset(years = 8)

stocks.index + pd.DateOffset(years = 1, months = 3, days = 10, hours = 6, minutes = 2)
stocks.index + pd.DateOffset(years = 3, months = 4, days = 25, hours = 13, minutes = 24, seconds = 26)

# Timeseries Offsets

In [ ]:
stocks = data.DataReader(name = "MSFT", data_source = "yahoo", start = "2010-01-01", end = "2020-12-31")
stocks.head(3)

In [ ]:
# Be careful: Days on the actual end of the month will be rounded to the end of the next month.
stocks.index + pd.tseries.offsets.MonthEnd()
stocks.index - pd.tseries.offsets.MonthEnd()

stocks.index + pd.tseries.offsets.MonthBegin()
stocks.index - pd.tseries.offsets.MonthBegin()

In [ ]:
# A shortcut to reference offsets.
from pandas.tseries import offsets

In [ ]:
stocks.index + offsets.MonthEnd()

In [ ]:
stocks.index + offsets.YearEnd()
stocks.index - offsets.YearEnd()

stocks.index + offsets.YearBegin()
stocks.index - offsets.YearBegin()

# The <code>Timedelta</code> Object

In [ ]:
time_a = pd.Timestamp("2020-03-31 04:35:16PM")
time_b = pd.Timestamp("2020-03-20 02:14:49AM")

time_a - time_b

In [ ]:
time_b - time_a

In [ ]:
pd.Timedelta(days = 3)
pd.Timedelta(days = 3, minutes = 45)
pd.Timedelta(days = 3, hours = 12, minutes = 45)
pd.Timedelta(days = 3, hours = 12, minutes = 45, seconds = 20)
pd.Timedelta(weeks = 8, days = 3, hours = 12, minutes = 45, seconds = 20)

In [ ]:
pd.Timedelta("5 minutes")
pd.Timedelta("6 hours 12 minutes")
pd.Timedelta("14 days 6 hours 12 minutes 49 seconds")

# <code>Timedelta</code> in a Dataset

In [ ]:
shipping = (
    pd.read_csv("C:\\Users\\Maverick\\Documents\\git\\Data-Analysis-With-Pandas-And-Python\\datasets\\ecommerce.csv",
    index_col = "ID",
    parse_dates = ["order_date", "delivery_date"])
)

shipping.head(3)

In [ ]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]
shipping.head(3)

In [ ]:
shipping["Twice As Long"] = shipping["delivery_date"] + shipping["Delivery Time"]
shipping.head(3)

In [ ]:
mask = shipping["Delivery Time"] > "3000 days"
shipping[mask]